<div class="row m-4">
  <div class="col-4">
    <div class="row mb-3">
      <div class="col">
        <input class="form-control" type="search" placeholder="Search by product" 
          (keyup)="findByName($event.target)">
      </div>
      <div class="col">
        <a class="text-success fs-4" routerLink="register" title="Register a new product">
          <i class="bi bi-plus-square-fill"></i>
        </a>
      </div>
    </div>
    <div class="row col-7 border border-secondary" *ngFor="let product of list">
      <div class="col p-2">
        <a [routerLink]="[product.id]">{{ product.productName | uppercase }}</a>
      </div>
    </div>
  </div>

  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>