<div class="col-4">
  <div class="mb-3">
    <label for="product-name" class="form-label">Product Name</label>
    <input type="text" class="form-control" id="product-name" [(ngModel)]="product.productName">
  </div>
  <div class="mb-3">
    <label for="product-value" class="form-label">Product Value</label>
    <input type="number" class="form-control" id="product-value" [(ngModel)]="product.productValue">
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea class="form-control" id="description" rows="5" [(ngModel)]="product.description"></textarea>
  </div>
  <button class="btn btn-primary" (click)="save()"
      [valid]="product.productName" 
      [validValue]="product.productValue"
      [validDescription]="product.description">Save</button>
  <button class="btn btn-danger" (click)="clear()">Clear</button>
</div>

<br> <br> <br>

<div class="col-4">
  <table class="table" *ngIf="list.length != 0">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Value</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of list">
        <td> {{ product.productName | uppercase }} </td>
        <td> {{ product.productValue | currency:'BRL':'symbol-narrow' }} </td>
        <td> {{ product.description| uppercase }} </td>
        <td> <button class="btn btn-primary" (click)="remove(product)">  <i class="bi bi-trash"></i> </button> </td>
        <td> <button class="btn btn-primary" (click)="update(product)"> <i class="bi bi-pencil"></i> </button> </td>
      </tr>
    </tbody>
  </table>
</div>
